// Colour variables
$primaryColour: hsl(322, 100%, 66%);
$neutralCyan: hsl(192, 100%, 9%);
$neutralBlue: hsl(207, 100%, 98%);

// Fonts
$headerFont: 'Poppins', sans-serif;
$contentFont: 'Open Sans', sans-serif;
$weightBold: 700;
$weightLight: 400;
$weightMedium: 600;

// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }
*, body {
  font-family: $contentFont;
  font-size: 14px;
}

.container {
  width: 100%;
  text-align: center;
}

  header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 20px;

    .header-right {
      display: flex;
      justify-content: flex-end;
      width: 50%;
    }
    .language-menu {
      display: flex;
    }

    .try {
      color: $primaryColour;
      background-color: transparent;
      border: 1px solid $primaryColour;
      border-radius: 50px;
      padding: 0 2%;
      width: max-content;
      margin-right: 20px;
    }

    .lang-selector {
      color: $primaryColour;
      background-color: transparent;
      padding: 0 4%;
      border: none;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  h1 {
    font-family: $headerFont;
    font-size: 3.5em;
  }

  h2 {
    font-family: $headerFont;
    font-size: 2em;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .blurb {
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;

    h1 {
      margin-bottom: 0;
    }

    p {
      width: 42%;
      margin: 0 auto;
      font-size: 20px;
      padding: 2em 0;
      line-height: 1.5em;
    }

    button {
      width: 25%;
      background-color: $primaryColour;
      color: $neutralBlue;
      line-height: 4.5em;
      border: none;
      border-radius: 50px;
      margin-bottom: 4em;
      font-weight: $weightBold;
      margin-bottom: 7em;
    }
  }

  .figures {
    margin: 0 auto;
    padding-top: 5em;
    display: flex;
    justify-content: space-between;

    .right, .left {
      width: 35%;
      text-align: left;
      margin: 0;

      p {
        margin: 0;
        width: 100%;
        padding: 15% 0;
      }

      .figure-description {
        padding-left: 15%;
        color: $neutralCyan;
        line-height: 4em;
      }

      g {
        fill: $primaryColour;
      }
    }

    .left {

      .figure-description {
        padding-left: 2%;
      }
    }

    .figure {
      font-size: 4.5em;
      font-weight: 700;
    }
  }

  .illustrations {
    .section-wrapper {
      width: 90%;
      margin: 0 auto;
      display: flex;
    }
    .grow-top {
      width: 100%;
      margin: 0 auto;
      background-image: url('/static/img/bg-section-top-desktop-1.png');
      background-repeat: no-repeat;
      background-size:cover;
      height: 139px;
      margin: 0 auto;

      svg {
        width: 100%;
      }
    }

    .grow-bottom {
      width: 100%;
      background-image: url('/static/img/bg-section-bottom-desktop-1.png');
      background-repeat: no-repeat;
      background-size:cover;
      height: 139px;
      margin: 0 auto;
    }

    .users-top {
      width: 100%;
      background-image: url('/static/img/bg-section-top-desktop-2.png');
      background-repeat: no-repeat;
      background-size:cover;
      height: 139px;
      margin: 0 auto;
    }

    .users-bottom {
      width: 100%;
      background-image: url('/static/img/bg-section-bottom-desktop-2.png');
      background-repeat: no-repeat;
      background-size:cover;
      height: 139px;
      margin: 0 auto;
    }
  }

  .grow-together {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: $neutralBlue;

    .illustration-text {
      width: 50%;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        padding-top: 7%;
        line-height: 1.5em;
      }
    }

    .growtogether {
      width: 50%;
      
      svg {
        width: 90%;
        height: 90%;
      }
    }

    .illustration {
      width: 50%;
    }
  }

  .flowing-conversation {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 416px;
      
    .flowingconversation {
      width: 50%;
      
      svg {
        width: 90%;
        height: 90%;
      }
    }

    .illustration-text {
      width: 50%;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        padding-top: 7%;
        line-height: 1.3em;
      }
    }
    .illustration {
      width: 50%;
    }
  }

  .your-users {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: $neutralBlue;

    .yourusers {
      width: 50%;
      
      svg {
        width: 90%;
        height: 90%;
      }
    }

    .illustration-text {
      width: 50%;
      padding: 15% 8% 0 8%;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        padding-top: 7%;
        line-height: 1.3em;
      }
    }
    .illustration {
      width: 50%;
    }
  }

  .community {
    padding-top: 15%;

    h2 {
      font-size: 32px;
      margin-bottom: 2%;
    }

    button {
      width: 25%;
      background-color: $primaryColour;
      color: $neutralBlue;
      line-height: 4.5em;
      border: none;
      border-radius: 50px;
      margin-bottom: 4em;
      font-weight: $weightBold;
    }
  }

  .footer-top {
    background-image: url('/static/img/bg-footer-top-desktop.png');
    height: 150px;
    width: 90%;
    margin: 0 auto;
    background-position-x: -355px;
  }

  footer {
    background-color: $neutralCyan;
    color: $neutralBlue;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 7% 0;
    line-height: 1.3em;
    text-align: left;

    .social {
      width: 27%;
      margin-left: 10%;

      .logo {
        padding-bottom: 1em;
      }

      .logo g path {
        fill: $neutralBlue;
      }

      .contact {
        display: flex;

        p {
          padding-top: 0;
        }

        .icon {
          padding-right: 5%;
        }
      }

      p{ 
        padding-bottom: 1.5em;
        padding-top: 0.5em;
        line-height: 1.5em;
      }

      a, a:visited {
        color: $neutralBlue;
      }

      a:hover {
        color: $primaryColour;
      }
      
      .socialIcon {
        font-size: 1.9em;
        margin-right: 5%;
      }
    }

    .newsletter {
      width: 38%;
      margin-right: 7%;

      h3 {
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 22px;
      }

      p {
        padding-bottom: 1em;
        width: 70%;
        line-height: 1.5em;
      }

      .sign-up {
        display: flex;
        justify-content: space-between;
      }

      input {
        border-radius: 5px;
        width: 65%;
        margin-right: 3%;
        border: none;
        height: 2.5em;
      }

      button {
        background-color: $primaryColour;
        color: $neutralBlue;
        border-radius: 5px;
        border: 1px solid $primaryColour;
        width: 30%;
        height: 2.7em;
        font-weight: $weightBold;
      }
    }
  }

  @media (max-width: 450px) {
    .blurb h1 {
      font-size: 1.7rem;
    }
    .blurb p {
      width: 100%;
      font-size: 15px;
    }
    .blurb button {
      width: 75%;
    }
    .figures {
      flex-direction: column;
      justify-content: center;
    }
    .figures .right,
    .figures .left {
      width: 100%;
      text-align: center;
    }
    .figures .right .figure-description {
      padding-left: 0;
    }
    .section-wrapper {
      flex-direction: column;
    }
    .section-wrapper .illustration-text {
      width: 100%;
    }
    .section-wrapper .growtogether,
    .section-wrapper .flowingconversation,
    .section-wrapper .yourusers {
      width: 100%;
    }
    .illustrations .grow-top {
      background-image: url('/static/img/bg-section-top-mobile-1.png')
    }
    .illustrations .grow-bottom {
      background-image: url('/static/img/bg-section-bottom-mobile-1.png')
    }
    .illustrations .users-top {
      background-image: url('/static/img/bg-section-top-mobile-2.png')
    }
    .illustrations .users-bottom {
       background-image: url('/static/img/bg-section-bottom-mobile-2.png')
    }
    .community button {
      width: 75%;
    }
    footer {
      flex-direction: column;
      width: 100%;
    }
    .footer .footer-top {
      background-image: url('/static/img/bg-footer-top-mobile.png');
      background-position-x: 0;
      width: 100%;
      height: 50px;
    }
    footer .social {
      width: 90%;
      margin: 0 auto;
    }
    footer .newsletter {
      width: 90%;
      margin: 0 auto;
    }
    footer .newsletter p {
      width: 100%;
    }
  }
